body, html {
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Microsoft YaHei';
  color: #666;
  width: 700px; 
  margin: auto auto;
}

h1 {
  text-align: center;
  letter-spacing: 1pt;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 15px;
}

p {
  text-align: justify;
  text-indent: 2em;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  width: 60%;
  display: none;
  line-height: 28px;
}