<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>简单实用纯CSS样式垂直时间轴特效代码</title>
<meta name="keywords" content="简单实用,纯CSS样式,垂直时间轴,特效代码" />
<meta name="description" content="简单实用纯CSS样式垂直时间轴特效代码。" /> 
<meta name="author" content="js代码" />
<meta name="copyright" content="js代码" />
<script type="text/javascript" src="/static/js/protect.js"></script>
<link rel="stylesheet" type="text/css" href="css/default.css" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>
<body>

<div class="container">
	<div class="main">
		<ul class="cbp_tmtimeline">
			<li>
				<time class="cbp_tmtime" datetime="2017-04-10 18:30"><span>4/10/17</span><span>18:30</span></time>
				<div class="cbp_tmicon cbp_tmicon-phone"></div>
				<div class="cbp_tmlabel">
					<h2>js代码（http://www.jsdaima.com/）</h2>
					<p>js代码拒绝滥竽充数，我们宁缺毋滥，只提供精品资源！我们一直在努力，只为做得更好！</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime="2017-04-11T12:04"><span>4/11/17</span><span>12:04</span></time>
				<div class="cbp_tmicon cbp_tmicon-screen"></div>
				<div class="cbp_tmlabel">
					<h2>js特效（http://www.jsdaima.com/）</h2>
					<p>js代码聚焦精品资源，这是我们建站之初的初衷！不忘初心，方得始终！</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime="2017-04-17 05:36"><span>4/17/17</span><span>05:36</span></time>
				<div class="cbp_tmicon cbp_tmicon-mail"></div>
				<div class="cbp_tmlabel">
					<h2>js特效代码（http://www.jsdaima.com/）</h2>
					<p>js代码网只用心做好一件事——提供高质量精品代码！</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime="2017-04-15 17:15"><span>4/15/17</span><span>17:15</span></time>
				<div class="cbp_tmicon cbp_tmicon-phone"></div>
				<div class="cbp_tmlabel">
					<h2>js特效代码大全（http://www.jsdaima.com/）</h2>
					<p>js代码拒绝滥竽充数，我们宁缺毋滥，只提供精品资源！我们一直在努力，只为做得更好！</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime="2017-04-16 21:30"><span>4/16/17</span><span>21:30</span></time>
				<div class="cbp_tmicon cbp_tmicon-earth"></div>
				<div class="cbp_tmlabel">
					<h2>前端模板（http://www.jsdaima.com/webpage/）</h2>
					<p>js代码感谢大家五年来对网站的信任和支持，有你们的支持，我们会做得越来越好的！</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime="2017-04-17 12:11"><span>4/17/17</span><span>12:11</span></time>
				<div class="cbp_tmicon cbp_tmicon-screen"></div>
				<div class="cbp_tmlabel">
					<h2>网站源码（http://www.jsdaima.com/yuanma/）</h2>
					<p>我们一直在努力，只为做得更好！</p>
				</div>
			</li>
			<li>
				<time class="cbp_tmtime" datetime="2017-04-18 09:56"><span>4/18/17</span><span>09:56</span></time>
				<div class="cbp_tmicon cbp_tmicon-phone"></div>
				<div class="cbp_tmlabel">
					<h2>视频教程（http://www.jsdaima.com/video/）</h2>
					<p>js代码网只用心做好一件事——提供高质量精品代码！</p>
				</div>
			</li>
		</ul>
	</div>
</div>
		

</body>
</html>